.blog-layout-section {
    display: grid;
    grid-area: content;
    grid-template-areas: ". . ." ". blog ." ". . .";
    grid-template-columns: minmax(1rem, 10rem) 1fr minmax(1rem, 10rem);
    grid-template-rows: 5rem 1fr 5rem;
}

.blog-layout-blog-container {
    grid-area: blog;
    justify-self: center;
    text-align: center;

}