.full-screen-modal-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "x . ." ". content ." ". . .";
    grid-template-columns: 5rem 1fr 5rem;
    grid-template-rows: 5rem 1fr 10rem;
    color: whitesmoke;
    font-size: 10rem;
    font-family: "Hack";
}

.full-screen-modal-x-container {
    grid-area: x;
    cursor: pointer;
    position: relative;
}

.full-screen-modal-x-container::after {
    content: "x";
    font-size: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}