
@keyframes move-out-to-left {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    20% {
        transform: translateX(2rem) skewX(-10deg);
    }
    100% {
        opacity: 0;
        transform: translateX(-40rem) skewX(10deg);
    }
}

@keyframes move-out-to-right {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    20% {
        transform: translateX(-2rem) skewX(10deg);
    }
    100% {
        opacity: 0;
        transform: translateX(40rem) skewX(-10deg);
    }
}

@keyframes move-in-from-left {
    0% {
        opacity: 0;
        transform: translateX(-20rem) skewX(10deg);
    }
    80% {
        transform: translateX(1rem) skewX(-10deg);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes move-in-from-right {
    0% {
        opacity: 0;
        transform: translateX(20rem) skew(-10deg);
    }
    80% {
        transform: translateX(-1rem) skew(10deg);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes move-in-from-bottom {
    0% {
        transform: translateY(100rem);
    }
    100% {
        transform: translateY(0);
    }
}

.landing-page-main {
    height: 100vh;
    display: grid;
}

.landing-page-main-before-animation {
    grid-template-areas: "title" "subtitle";
    grid-template-rows: 65% 35%;
}

.landing-page-main-after-animation {
    grid-template-areas: "gap1 profile gap2";
    grid-template-columns: 1fr  minmax(min-content, 90rem)  1fr;
}

.canvas-container-landing-page {
    position: fixed;
    z-index: -100;
}

.primary-heading-exitting-animation {
    animation: move-out-to-right 1.8s ease-out forwards !important;
}

.secondary-heading-exitting-animation {
    animation: move-out-to-left 1.8s ease-out forwards !important;
}

.landing-page-title {
    grid-area: title;
    text-align: center;
    align-self: end;
    animation: move-in-from-left 2s ease-in;
}

.landing-page-subtitle {
    grid-area: subtitle;
    text-align: center;
    animation: move-in-from-right 2s ease-in;
}

.profile-section {
    grid-area: profile;
    display: grid;
    min-height: 50rem;
    grid-template-areas: "transparent-background" "header" "body";
    animation: move-in-from-bottom 1s forwards;
    grid-template-rows: 30rem min-content 1fr;
    row-gap: var(--larger-gap);
}

.gap1 {
    grid-area: gap1;
}

.gap2 {
    grid-area: gap2;
}