.profile-timeline-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
}

.timeline-side-box {
    border-radius: var(--bigger-radius);
}

.timeline-main-box {
    border-radius: var(--bigger-radius);
}
