@keyframes display {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.profile-timeline-container,
.profile-publications-container,
.profile-experience-container {
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--bigest-gap);
    row-gap: var(--bigest-gap);
    animation: display 1s forwards;
}

