.contents-table-container {
    display: grid;
    justify-items: center;
}

.contents-table-list {
    font-size: var(--larger-font-size);
    text-align: left;
    display: grid;
    border: 1px solid var(--colour-gray-1);
    padding: 1rem 3rem;
    list-style: none;
}

.contents-table-list li {
    text-decoration: none;
}

.contents-table-list li a,
.contents-table-list li a:active,
.contents-table-list li a:visited {
    border-bottom: 1px solid var(--colour-gray-2);
    color: white;
    text-decoration: none;
}

.contents-table-list li a:hover {
    color: var(--colour-tertiary);
}



.blog-section {
    font-size: var(--huger-font-size);
    justify-self: start;
}


.blog-section-content-title-depth2 {
    padding-left: 2rem;
}

.blog-section-content-title-depth3 {
    padding-left: 4rem;
}

.blog-section-content-title-depth4 {
    padding-left: 5.5rem;
}

.blog-section-title-depth-1 {
    font-size: var(--huger-font-size);
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.blog-section-title-depth-2 {
    font-size: var(--big-font-size);
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.blog-section-title-depth-3 {
    font-size: var(--largest-font-size);
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.blog-section-title-depth-4 {
    font-size: var(--larger-font-size);
    margin-top: 3rem;
    margin-bottom: 1rem;
}