.profile-header-profile-img-container {
    grid-area: img;
    justify-self: center;
    z-index: 2;
    position: relative;
}

.profile-inner-header-container {
    list-style: none;
    grid-area: inner-header;
    height: 7rem;
    background-color: aqua;
    display: grid;

    grid-template-columns: repeat(5, minmax(min-content, 1fr));
    align-items: center;
    font-size: var(--larger-font-size);
}

.profile-img {
    border-radius: 50rem;
    border: white 2px solid;
    width: 15rem;
    height: 15rem;
    margin-bottom: -2rem;
    position: relative;
}

.profile-header-item {
    justify-self: center;
}

.profile-header-item-name {
    font-size: var(--largest-font-size) !important;
    font-weight: 900;
    white-space: nowrap;
    font-family: 'Josefin Slab';
}