.profile-header-profile-img-container {
    grid-area: img;
    justify-self: center;
    z-index: 2;
    position: relative;
}

.profile-header-profile-img-inner-container {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: -2rem;
    border: white 2px solid;
}

.profile-img {
    width: auto;
    height: 15rem;
}

.profile-header-my-name {
    color: white;
    background-color: var(--colour-quaternary);
    grid-area: name;
    border-bottom: .5px solid gray;
    display: grid;
    border-top-left-radius: var(--bigger-radius);
    border-top-right-radius: var(--bigger-radius);
}

.profile-header-my-name-inner-container {
    justify-self: center; 
    align-self: center;
    font-size: var(--largest-font-size) !important;
    font-weight: 900;
    white-space: nowrap;
    font-family: 'Josefin Slab';
}

.profile-inner-header-container {
    list-style: none;
    grid-area: inner-header;
    background-color: var(--colour-primary);
    display: grid;
    border-bottom-left-radius: var(--bigger-radius);
    border-bottom-right-radius: var(--bigger-radius);    
    grid-template-columns: repeat(5, minmax(min-content, 1fr));
    align-items: center;
    font-size: var(--large-font-size);
    font-family: 'Hack';
}

.profile-header-item {
    justify-self: center;
    padding: 1.5rem 1rem;
    cursor: pointer;
    transition: all .2s;
    border-radius: 2px;
    position: relative;
}

.profile-header-item-inactive:hover {
    background-color: var(--colour-blue-gray);
    color: var(--colour-quaternary);
}

.profile-header-item-active {
    border-bottom: 1px solid var(--colour-quaternary);
    color: var(--colour-quaternary);
}

.profile-inner-header-more-container {
    display: flex;
    flex-direction: column;
    background-color: var(--colour-primary);
    position: absolute;
    top: 6rem;
    right: .7rem;
    list-style: none;
}