.timeline-cc-graduation-pic {
    width: 100%;
    height: var(--R2-C2-img-height);
    opacity: .5;
}

.timeline-side-box {
    border-radius: var(--bigger-radius);
}

.timeline-main-box {
    border-radius: var(--bigger-radius);
}
