.experience-section-item {
    display: grid;
    grid-template-areas: "title subtitle" "subsubtitle year" "details details";
    color: white;
    font-size: var(--large-font-size);
    font-family: 'Hack';
    width: 90%;
    margin: auto;
    /* border-bottom: 1px solid whitesmoke; */
    transition: all .1s;
    border: 1px solid transparent;
}

.experience-section-item:hover{
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

.experience-section-item-year {
    grid-area: year;
    justify-self: end;
    font-size: var(--small-font-size);
    font-family: 'Quicksand';
    text-align: right;
}

.experience-section-item-title {
    grid-area: title;
    font-size: var(--small-font-size);
    font-weight: 800;
}

.experience-section-item-subtitle {
    grid-area: subtitle;
    justify-self: end;
    text-align: right;
}

.experience-section-item-subsubtitle {
    grid-area: subsubtitle;
    font-size: var(--small-font-size);
    font-family: 'Hack';
}

.experience-section-item-details {
    grid-area: details;
    list-style: none;
    margin-left: 1rem;
}
